section{
  padding: 24px 24px 0 24px;
}
.header-main, .btn-main-pc, .btn-main-phone{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.header-main p{
  font-size: 24px;
  border: 8px solid aqua;
  padding: 10px 15px;
  border-radius: 70px;
}
.header-main button{
  margin-top: 24px;
  width: 200px;
  height: 40px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid black;
  transition: background-color .5s;
}
.models-main-pc:hover{
  background-color: green;
}
.config-main-pc:hover{
  background-color: orangered;
}
.btn-main-pc{
  display: none;
}
@media (min-width: 576px) {
  section{
    padding: 48px 48px 0 48px;
  }
}
@media (min-width: 950px) {
  .btn-main-pc{
    display: flex;
  }
  .btn-main-phone{
    display: none;
  }
}